/* Geral */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #fcce00;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;

}

.container p {
    color: #fcce00;
}

a {
    color: #333;
    text-decoration: none;
}

/* Cabeçalho */
header {
    background: #383838;
    color: #fcce00;
    padding-top: 60px;
    padding-bottom: 20px;
    min-height: 300px;
    text-align: center;
}

header a {
    color: #fff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    padding: 30px;
    display: flex;
    align-items: center;
}

header .profile-picture {
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin-right: 30px;
    border: 5px solid #333;
}

header .profile-picture img {
    width: 100%;
    height: 120%;
    object-fit: cover;
}

header .header-text h1 {
    margin-top: 0;
    font-size: 2.5em;
    color: #fcce00;
}

header .header-text h2 {
    font-size: 1.8em;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background: #555;
    color: #fcce00;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.contact-button:hover {
    background: #ffbb33;
}

/* Menu de navegação */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #383838;
    color: #fcce00;
    padding: 10px 0;
    z-index: 10;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #fcce00;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #fcce00;
    /* Cor de destaque ao passar o mouse */
}

/* Ícone do menu (mobile) */
.menu-icon {
    display: none;
    /* Esconde o ícone em telas maiores */
    color: #fcce00;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

/* Seção de Habilidades */
.skills-section {
    padding: 80px 0;
    background: #333;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}

.skill-group h3 {
    color: #fcce00;
    margin-bottom: 20px;
}

.skill-bar {
    margin-bottom: 15px;
}

.skill-bar h4 {
    margin: 0 0 5px 0;
}

.progress {
    height: 20px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: #fcce00;
    /* Cor da barra de progresso */
    width: 0%;
    /* Valor inicial da largura */
    transition: width 0.5s ease-in-out;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.skills-list li {
    margin-bottom: 10px;
}

/* Rodapé */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Botão "Voltar ao Topo" */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: #3d3d3d;
    color: #fcce00;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.back-to-top:hover {
    opacity: 1;
}

.back-button:hover {
    transform: scale(1.25);
    /* Aumenta um pouco o botão ao passar o mouse */
}




/* Responsividade */
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
    }

    header .profile-picture {
        margin: 0 0 20px 0;
    }

    .menu {
        display: none;
        /* Esconde a lista em telas menores */
    }

    .menu-icon {
        display: block;
        /* Mostra o ícone em telas menores */
    }

    /* Mostra o menu ao clicar no ícone em telas menores */
    .menu.show {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #333;
        padding: 10px 0;
    }

    .menu.show li {
        display: block;
        margin: 10px 20px;
        padding: 2%;
    }

    .menu {
        display: none;
        /* Esconde a lista em telas menores */
        /* Estas propriedades e para posicionar o menu fora da tela */
        position: absolute;
        top: 60px;
        left: -100%;
        /* Posiciona o menu fora da tela à esquerda */
        width: 100%;
        background: #333;
        padding: 10px 0;
        transition: left 0.3s ease;
        /* Adicione uma transição suave */
    }

    /* Mostra o menu ao clicar no ícone em telas menores */
    .menu.show {
        display: block;
        left: 0;
        /* Traz o menu de volta à tela */
    }

    header .container {
        flex-direction: column;
        /* Imagem e texto em coluna */
    }

    header .header-content {
        flex-direction: column;
        /* Imagem e texto em coluna */
    }

    header .profile-picture {
        margin: 0 auto 20px auto;
        /* Centraliza a imagem */
        width: 100%;
        /* Ocupa a largura disponível */
        max-width: 300px;
        /* Largura máxima da imagem */
    }

    header .profile-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}









nav a {
    color: #fcce00;
    text-decoration: none;
    padding: 10px 20px;
    padding: 18px;
    margin: 0 10px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 10px 0;
    }

    header {
        padding: 50px 0;
    }

    h1 {
        font-size: 6em;
    }

    /* Responsividade para o grid de tecnologias*/
    .technologies-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }



}



a {
    text-decoration: none;
    color: #333;
    position: relative;
    overflow: hidden;
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fcce00;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

a:hover::before {
    width: 100%;
}

.footer {
    text-align: center;
    color: #fcce00;
}







.progress-bar {
    position: relative;
    background-color: #fcce00;
    height: 25px;
    transition: width 1s ease-in-out;
}

.percentage-text {
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #333;
}




/* Estilo para o grid de tecnologias */
.technologies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.technology-card {
    background-color: #333;
    padding: 20px;
    border: 2px solid #fcce00;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    /* Para o efeito do link */
}

.technology-card img {
    width: 50%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.technology-card h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.technology-card p {
    font-size: 0.9em;
}

.technology-card .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.technology-card .btn:hover {
    background-color: #0056b3;
}

/* Efeito de transição ao passar o mouse */
.technology-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

/* Efeito de destaque no link ao passar o mouse */
a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fcce00;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

a:hover::before {
    width: 100%;
}







/* Definição padrão */
:root {
    --bg-color: white;
    --text-color: #fcce00;
}

/* Tema Preto */
.theme-black {
    --bg-color: black;
    --text-color: #fcce00;
}

/* Tema Azul */
.theme-blue {
    --bg-color: #007BFF;
    --text-color: #fcce00;
}

/* Tema Rosa */
.theme-pink {
    --bg-color: #FF69B4;
    --text-color: #fcce00;
}

/* Tema Vermelho */
.theme-red {
    --bg-color: #FF6347;
    --text-color: #fcce00;
}

/* Tema Verde */
.theme-green {
    --bg-color: #32CD32;
    --text-color: #fcce00;
}

/* Tema Default */
.theme-default {
    --bg-color: #333;
    --text-color: #fcce00;
}

/* Aplica as variáveis de cor aos elementos */
body,
header,
footer,
section,
nav {
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}

/* Estilos adicionais para o menu */
.theme-selector {
    margin: 20px;
}

.theme-selector button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}









/* Definição padrão */
:root {
    --bg-color: white;
    --text-color: #fcce00;
}

/* Tema Preto */
.theme-black {
    --bg-color: black;
    --text-color: #fcce00;
}

/* Tema Azul */
.theme-blue {
    --bg-color: #007BFF;
    --text-color: #fcce00;
}

/* Tema Rosa */
.theme-pink {
    --bg-color: #FF69B4;
    --text-color: #fcce00;
}

/* Tema Vermelho */
.theme-red {
    --bg-color: #ff0000;
    --text-color: #fcce00;
}

/* Tema Verde */
.theme-green {
    --bg-color: #32CD32;
    --text-color: #fcce00;
}

/* Tema Default */
.theme-default {
    --bg-color: #333;
    --text-color: #fcce00;
}

/* Aplica as variáveis de cor aos elementos */
body,
header,
footer,
section,
nav {
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}


/* Estilos adicionais para o menu */
.theme-selector {
    margin: 20px;
}

.theme-selector button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}



/* Variáveis do Gooey Menu */
:root {
    --gooey-fg: #e91e63;
    /* Cor de primeiro plano do gooey menu */
    --gooey-bg: #8bc34a;
    /* Cor de fundo */
    --open-distance: 110px;
    /* Distância de abertura dos itens do menu */
}


/* Estilos do Gooey Menu */
#theme-menu {
    top: 90px;
    right: 15%;
    left: auto;
    z-index: 100;
    width: 50px;
    height: 50px;
}

#theme-menu .menu,
#theme-menu .menu-open-button,
#theme-menu .menu-item {
    filter: url('#goo');
}

#theme-menu .menu-item {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    text-align: center;
    line-height: 10px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    overflow: hidden;
    color: #ffbb33;
    
}

/* Classes de tema (cores de fundo) */
.theme-black {
    background-color: black;
}

.theme-white {
    background-color: white;
    color: black;
}

/* Texto preto em fundo branco */
.theme-blue {
    background-color: #007BFF;
}

.theme-pink {
    background-color: #FF69B4;
}

.theme-red {
    background-color: #ff0000;
}

.theme-green {
    background-color: #32CD32;
}

.theme-default {
    background-color: #333;
}

#theme-menu .menu-open {
    display: none;
}


#theme-menu .menu-open-button {
    background-color: #444;
    /* Cor de fundo inicial para o botão principal */
    border-radius: 100%;
    /* Arredondar o botão principal */
    width: 50px;
    /* Tamanho do botão principal */
    height: 50px;
    position: absolute;
    /* Posicionamento do botão */
    top: 0;
    left: 0;
    z-index: 2;
    /* Certificar-se de que o botão fica por cima */
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-duration: 400ms;
    transform: scale(1, 1) translate3d(0, 0, 0);
    cursor: pointer;
    display: flex;
    /* Centralizar o ícone do hambúrguer */
    justify-content: center;
    align-items: center;
}


.hamburger {
    width: 25px;
    height: 3px;
    background-color: #ffbb33;
    /* Cor fixa para o hambúrguer */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

/* Animações do Hambúrguer */
#theme-menu .hamburger-1 {
    transform: translate3d(0, -8px, 0);
}

#theme-menu .hamburger-2 {
    transform: translate3d(0, 0, 0);
}

#theme-menu .hamburger-3 {
    transform: translate3d(0, 8px, 0);
}

#theme-menu .menu-open:checked+.menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
}

#theme-menu .menu-open:checked+.menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

#theme-menu .menu-open:checked+.menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

#theme-menu .menu-open:checked+.menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

/* Animação dos Itens do Menu */
#theme-menu .menu-open:checked~.menu-item {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    opacity: 1;
    display: block;
}

#theme-menu {
    --n: 7;
    /* Número de itens do menu */
    --angle: calc(360deg / var(--n));
    /* Ângulo entre os itens */
    --radius: calc(var(--open-distance) * 1);
    /* Raio do círculo */
}

/* Calcular a posição de cada item */
#theme-menu .menu-open:checked~.menu-item:nth-child(n+3) {
    /* Começar do terceiro filho */
    transform: rotate(calc((var(--angle) * (var(--n) - (n - 3))) + 17deg)) translate(var(--radius)) rotate(calc(-1 * (var(--angle) * (var(--n) - (n - 3)) - 180deg)));
    /* Calcular posição */
}

.hidden {
    display: none;
}


/* Esconder apenas os itens do menu, não o menu inteiro */
#theme-menu .menu-item.hidden {
    /* Adicionar #theme-menu para ser mais específico */
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#theme-menu .menu-open:checked~.menu-item {
    opacity: 1;
    display: block;
    /* Mostrar os itens quando o menu estiver aberto */
}

:root {
    --open-distance: 100px;
    /* Controle do raio do círculo */
}

#theme-menu .menu-open:checked~.menu-item:nth-child(3) {
    transition-duration: 180ms;
    transform: translate3d(calc(var(--open-distance) * cos(0deg)), calc(var(--open-distance) * sin(0deg)), 0);
}

#theme-menu .menu-open:checked~.menu-item:nth-child(4) {
    transition-duration: 200ms;
    transform: translate3d(calc(var(--open-distance) * cos(51.43deg)), calc(var(--open-distance) * sin(51.43deg)), 0);
}

#theme-menu .menu-open:checked~.menu-item:nth-child(5) {
    transition-duration: 220ms;
    transform: translate3d(calc(var(--open-distance) * cos(102.86deg)), calc(var(--open-distance) * sin(102.86deg)), 0);
}

#theme-menu .menu-open:checked~.menu-item:nth-child(6) {
    transition-duration: 240ms;
    transform: translate3d(calc(var(--open-distance) * cos(154.29deg)), calc(var(--open-distance) * sin(154.29deg)), 0);
}

#theme-menu .menu-open:checked~.menu-item:nth-child(7) {
    transition-duration: 260ms;
    transform: translate3d(calc(var(--open-distance) * cos(205.72deg)), calc(var(--open-distance) * sin(205.72deg)), 0);
}

#theme-menu .menu-open:checked~.menu-item:nth-child(8) {
    transition-duration: 280ms;
    transform: translate3d(calc(var(--open-distance) * cos(257.15deg)), calc(var(--open-distance) * sin(257.15deg)), 0);
}

#theme-menu .menu-open:checked~.menu-item:nth-child(9) {
    transition-duration: 300ms;
    transform: translate3d(calc(var(--open-distance) * cos(308.58deg)), calc(var(--open-distance) * sin(308.58deg)), 0);
}