body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fcce00;
}

header {
    background-color: #333;
    color: #fcce00;
    padding: 10px 0;
    text-align: center;
}

header .instituicao {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .instituicao img {
    height: 80px;
    margin-right: 10px;
    border: #1d1d1c solid 1px;
    border-radius: 50%;
}

section.dados-aluno {
    background-color: 333;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

main {
    background-color: #333;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #b9b9b9;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
}

a {
    text-decoration: none;
    color: #333; 
    position: relative;
    overflow: hidden;

}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fcce00; 
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

a:hover::before {
    width: 100%;
}

nav {
    color: #fcce00;
    text-align: left;

}

nav svg {
    color: #fcce00;
    padding: 15px;
}


.progress {
    height: 10px;
    background: #b8b7b7;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: #fcce00; /* Cor da barra de progresso */
    width: 0%; /* Valor inicial da largura */
    transition: width 0.5s ease-in-out;
    border-radius: 15px;
}


.skill-bar {
    margin-bottom: 15px;
}

.skill-bar h4 {
    margin: 0 0 5px 0;
}

h4 {
    text-align: center;
    font-size: 1.5em;
}

/* Estilo para telas menores que 768px (tablets e celulares) */
@media (max-width: 768px) {
    header {
      padding: 5px 0; /* Reduz o padding no cabeçalho */
    }
  
    header .instituicao img {
      height: 50px; /* Diminui o tamanho da imagem */
    }
  
    table {
      font-size: 14px; /* Diminui o tamanho da fonte da tabela */
    }
  }