body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('caminho/para/sua/imagem-de-fundo.jpg'); /* Substitua pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: #333;
}

.diploma-list {
    list-style: none;
    padding: 0;
}

.diploma-list li {
    margin: 10px 0;
}

.back-button {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

.back-button i {
    margin-right: 5px;
}
