body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('../deck\ verde.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

h1 {
    color: #333;
}

.diploma-list {
    list-style: none;
    padding: 0;
}

.diploma-list li {
    margin: 10px 0;
}

.back-button {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #fcce00;
}

.back-button i {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #333; /* Altere a cor conforme necessário */
    position: relative;
    overflow: hidden;
    padding: 20px;
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fcce00; /* Cor do sublinhado amarelo */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; /* Adiciona uma transição suave à largura */
}

a:hover::before {
    width: 100%;
}