* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

body {
    background-image: url('../projeto/moedas.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
}


div, span {
    margin: 30px;
}

span {
    text-align: center;
    display: block; 
}

select {
    color: gray;
    transition: color 2ms 2s;
}
  
select:hover,
select:focus,
select:active,
select:focus {
    color: rgb(14, 4, 153);
    transition:0s;
}
  
select option {
    color: #333;
}
  
select {
    width: 110px;
    height: 50px;
}

input {
    width: 200px;
    height: 50px;
}

input, select, span {
    font-size: 30px;
    color: #08080c;
    text-align: center;
    line-height: 2;
    background-color: #fafaf1;
    border-radius: 10px;
}

h1{
    font-size: 35px;
    border-radius: 10px;
    text-align: center;
}

.borda{
    border: black solid 4px;
    border-radius: 10px;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4fd160;
    background: linear-gradient(90deg, rgb(129, 230, 137) 0%, rgb(79, 146, 209) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}
  
button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #0059ff;
    box-shadow: 0 0 60px rgba(0, 17, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
  
.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}
  
button:hover::before, button:focus::before {
    opacity: 1;
}
  
button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #1eff00;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}
  
button:hover::after, button:focus::after {
    animation: none;
    display: none;
}
  
@keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
}