/* style.css */

body {
    font-family: 'Roboto', sans-serif; /* Fonte mais moderna - importe ou escolha outra */
    margin: 0;
    color: #333; 
    background-color: #fff;
}

/* Header */
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0; /* Espaçamento interno */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: #fff !important; /* Cor branca para os links da navbar */
    margin-left: 20px;
    transition: color 0.3s ease; /* Transição suave na cor */
}

.navbar-nav .nav-link:hover {
    color: #e0e0e0 !important; /* Cinza claro ao passar o mouse */
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}


/* Seções */
section {
    padding: 80px 0;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    color: #007bff; /* Azul para os títulos das seções */
}

#servicos {
    background-color: #f8f9fa; /* Cinza claro para a seção de serviços */
}



/* Rodapé */
footer {
    background-color: #333; /* Cinza escuro para o rodapé */
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* Responsividade */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    section {
        padding: 50px 0;
    }

    section h2 {
        font-size: 2rem;
    }
}


/* Utilidades */
.text-cinza-escuro {
    color: #333;
}

.navbar-brand img {
    border-radius: 50%; 
  }