body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background-color: #1f1e1e;
}

h1, h2{
    color: #fcce00;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 25px;
    padding-left: 30%;

}

.materias, p{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10%;
    padding-top: 1%;
    font-size: 1.5em;
    color: #fcce00;
}

nav a {
    color: #fcce00;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 10px 0;
    }

    header {
        padding: 50px 0;
    }

    h1 {
        font-size: 6em;
    }
}

a {
    text-decoration: none;
    color: #333; 
    position: relative;
    overflow: hidden;
    padding: 20px;
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fcce00; 
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

a:hover::before {
    width: 100%;
}


.back-button {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #fcce00;
}
