* {
    font-family: "Orbitron", sans-serif;
    padding: 0;
    margin: 0;
}

nav a {
    color: #fcce00;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 10px 0;
    }

    header {
        padding: 50px 0;
    }

    h1 {
        font-size: 6em;
    }
}



a {
    text-decoration: none;
    color: #333; 
    position: relative;
    overflow: hidden;
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fcce00; 
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

a:hover::before {
    width: 100%;
}