body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

.container {
    text-align: center;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: #333;
}

.telefone {
    font-size: 24px;
    color: #007bff;
    margin-top: 10px;
}

.email{
    font-size: 24px;
    color: #007bff;
    margin-top: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('deck verde.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Garante que a imagem cubra toda a área do body */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}

.container {
    text-align: center;
    margin: 50px auto;
    background-color: rgba(124, 117, 117, 0.8); /* Adiciona um fundo branco semi-transparente ao conteúdo */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


/* Adicione o estilo para o botão de voltar */
.back-button {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

.back-button i {
    margin-right: 5px;
}


