body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #333;
}

.container {
    text-align: center;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: #333;
}

.telefone {
    font-size: 24px;
    color: #007bff;
    margin-top: 10px;
}

.email{
    font-size: 24px;
    color: #007bff;
    margin-top: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fcce00; 
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

a:hover::before {
    width: 100%;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

button {
    background-color: #fcce00;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5eff01;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../imagens/img/telefone.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 8px;
}

.container {
    text-align: center;
    margin: 50px auto;
    background-color: rgba(124, 117, 117, 0.5); 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    font-size: 2em;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 5px;
}


nav a {
    color: #fcce00;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 10px 0;
    }

    header {
        padding: 10px 50px;
    }

    h1 {
        font-size: 6em;
    }
}



a {
    text-decoration: none;
    color: #fcce00; 
    position: relative;
    overflow: hidden;
    padding: 15px;
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fcce00; 
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

a:hover::before {
    width: 100%;
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #fcce00;
    color: #0a0a0a; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-to-top i {
    margin-left: 5px; 
}



nav a {
    color: #fcce00;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 10px 0;
    }

    header {
        padding: 50px 0;
    }

    h1 {
        font-size: 6em;
    }
}

a {
    text-decoration: none;
    color: #333; 
    position: relative;
    overflow: hidden;
    padding: 20px;
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fcce00; 
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

a:hover::before {
    width: 100%;
}


.back-button {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #fcce00;
}

h1{
    border-radius: 15px;
    background-color: #333;
    color: #fcce00;
    padding: 20px;
}

.numero{
    text-align: center;
    border-radius: 10px;
    padding-top: 5%;
    font-size: 2em;
}

input,
textarea {
    color: #ffffff;
    background-color: #333;
}

svg {
    color: #fcce00;
}
