body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    color: #fcce00; /* Cor do texto padrão */
}

/* Container Principal */
.container {
    text-align: center;
    margin: 50px auto;
    background-color: rgba(124, 117, 117, 0.5);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    max-width: 800px; /* Largura máxima do container */
}

/* Título da Página */
.page-title { 
    border-radius: 15px;
    background-color: #333; 
    color: #fcce00; 
    padding: 20px;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.telefone, 
.email {
    font-size: 1.8em; 
    color: #007bff;
    margin: 10px 0; /* Espaçamento acima e abaixo */
}

/* Lista */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0; /* Espaçamento acima e abaixo da lista */
}

ul li {
    display: inline-block;
    margin: 0 10px; /* Espaçamento entre os itens */
}

/* Links */
a {
    text-decoration: none;
    color: #fcce00;
    position: relative;
    overflow: hidden;
    padding: 10px 20px; 
    border-radius: 5px;
    display: inline-block; /* Para que o padding funcione */
    margin-bottom: 10px; /* Espaçamento entre os links */
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fcce00;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

a:hover::before {
    width: 100%;
}

/* Formulário */
form {
    margin-top: 20px;
    text-align: left; /* Alinha o formulário à esquerda */
}

label {
    display: block;
    margin-bottom: 5px;
}

input, 
textarea {
    width: calc(100% - 22px); /* Largura total menos o padding e borda */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #333;
    border: 1px solid #555; /* Cor da borda */
}

/* Botão do Formulário */
button {
    background-color: #fcce00;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #5eff01;
}

.back-button:hover {
    transform: scale(1.25);  /* Aumenta um pouco o botão ao passar o mouse */
}


/* Estilos para o número de telefone */
.numero {
    font-size: 2em;
    margin-bottom: 20px; 
    text-align: center;
}

/* Ícones */
svg {
    color: #fcce00;
}

/* Media Query para Responsividade */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px; /* Reduz o padding em telas menores */
    }

    .page-title {
        font-size: 2em; /* Ajusta o tamanho do título */
    }

    .telefone, 
    .email {
        font-size: 1.5em; 
    }

    ul li {
        display: block; /* Coloca os itens da lista em linhas separadas */
        margin: 10px 0; /* Espaçamento entre os itens */
    }

    input, 
    textarea {
        width: 90%; /* Ajusta a largura dos campos do formulário */
    }

    .numero {
        font-size: 1em;
        margin-bottom: 20px; 
    }

    svg {
        max-width: 20px;
    }
}