body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background: #364253;
    color: #dadce7;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
}

#app {
    background: #000000;
    border-radius: 0.7rem;
    padding: 1.5rem 0rem;
    box-shadow: 2px 8px 11px rgba(0, 0, 0, 0.2);
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 2rem;
    justify-items: center;
}

form input {
    border: 2px solid #fcce00;
    border-radius: 12px;
    font-size: 2rem;
    font-weight: 150;
    color: #fcce00;
    width: 220px;
    outline: none;
    padding: 10px;
    background-color: #000;
}

form input::placeholder {
    color: #000000;
    font-size: 2rem;
}

form button {
    padding: 0.5rem 1rem;
    color: #000000;
    border-radius: 5rem;
    border: none;
    width: max-content;
    font-size: 2rem;
    background: linear-gradient(to right, #fcce00, #f3b405);
    font-weight: 100;
    outline: none;
    cursor: pointer;
}


main {
    position: relative;
    width: 100%;
    text-align: center;
    transition: all 1s;
}

p:nth-child(1) {
    padding-top: 1.3rem;
}

p {
    color: #fcce00;
    font-size: 1.1rem;
    margin: 0.6rem 0;
}


nav a {
    color: #fcce00;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 10px 0;
    }

    header {
        padding: 50px 0;
    }

    h1 {
        font-size: 6em;
    }
}



a {
    text-decoration: none;
    color: #333;
    position: relative;
    overflow: hidden;
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fcce00;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

a:hover::before {
    width: 100%;
}

.back-button {
    padding: 25px;
    text-align: center;
}

header {
    padding: 25%
}